.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.mapBackdrop{
    background-color: #9788B4;
    border-radius: 30px;
}
body{top:0;
    margin:0;
background-color: #DDE8F4;}
head{top:0;
    background-color: #9b0a7d;}
.roundedCorners{
    border-radius: 25px;
    border-width:10px;
    border: solid;
    border-color: #9788B4;

    
}
.sliderResearchQuestions{
    width: 50%;
}